<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xkikdev.xkik">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Tweaks for Kik Messenger" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name="com.xkikdev.xkik.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.xkikdev.xkik.MainActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <service android:name=".chathead.chatheadService"/>
        <receiver android:name=".chathead.chatheadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xkikdev.xkik.msgget" />
            </intent-filter>
        </receiver>

    </application>

</manifest>